
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
html
{
    background-color:rgb(235, 231, 238);
}

/* NAVBAR */
.location
{
  position: absolute;
  right:43%;
}
.navbar-brand h1
{
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

a
{
    font-family: 'Roboto', sans-serif;
}
.nav-link:hover
{
  transform: scale(1.1);
}
.form-inline
{
    padding-right: 20px;
}
.dropdown-toggle:hover
{
    color: white;
}
.dropdown-toggle{
    color: white;
}

/* HOME SECTION */
#home
{
  background-color: #e8e8e9;
    /* background-image: url(bg4.jpg);
    background-size:contain;
    background-position: center center; 
    background-position: top 85% left 8vw;
    background-repeat:no-repeat;
    background-size: 100%; */
    text-align: center;
}

.offer
{
    width : 70%;
    height: 30%;
    border-radius: 5%;
}

/* .carousel-item
{
    height: 30%;
    width:70%;
}
.carousel
{
    
    height: 100%;
    width:100%;
    
    display: block;
    overflow:hidden;
} */
.container1
{
  margin-top: 8%;
}
.carousel
{
    height: 100%;
    width: 100%;
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 6%;
    margin-bottom: 4%;
}

.side-heading h2
{
    text-align: left;
    font-size: 4rem;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
}

.side-text
{
    font-family: 'Libre Baskerville', serif;
    font-size: 1rem;
    text-align: left;
    line-height: 1rem;
}

.intro-text p{
  font-family: 'Bad Script', cursive;
  font-size: 1.75rem;
}

.intro-text
{
  text-align: center;

  margin-top: 2%;
  padding-bottom: 5%;
}

/* features */
 #features
{
  background-color: black;
}
video
{
  height: 400px;
  width: 90%;
}
.video
{
  margin-top: 8%;
  margin-right: 0;
}
.input-group
{
  margin-left:25%;
  padding-top: 3%;
}


/* ANIMATION */
.words {
  margin-left: 15%;
  margin-top: 25%;
}
.words h1
{
  font-size: 4rem;
  font-family: 'Libre Baskerville', serif;
  font-weight: 800;
  color: white;
}

/* Testimonials */
.testimonials{
  padding: 40px 0;
  background: #f1f1f1;
  color: #434343;
  text-align: center;
}
.inner h1
{
  font-family: 'Libre Baskerville', serif;
}
.inner h3{
  color:grey;
   font-size: 1.1rem;
  font-family: 'Libre Baskerville', serif;
}
.inner{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.border{
  width: 160px;
  height: 5px;
  background: black;
  margin: 26px auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.testimonial{
  background: #fff;
  padding: 30px;
}
.testimonial img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
.stars{
  color: gold;
  margin-bottom: 20px;
}

/* meal section */
meal-search-box{
  margin-left: 25%;
  display: flex;
  align-items: stretch;
 margin-bottom: 2%;
}
.recipe-btn:hover{
  color: rgb(34, 13, 3);
}

img
{
  width: 400px;
  height: 300px;
}
.meal-result{
  margin-top: 4rem;
}
#meal{
  margin: 2.4rem 0;
}
.meal-item{
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
  margin: 2rem 0;
}
.meal-item p,h3
{
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}

.recipe-btn
{
  position: relative;
  top:50%;
  left:32%;
}
p.recipe-btn
{
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}


.meal-img img{
  width: 100%;
  display: block;
}
.meal-name{
  padding: 1.5rem 0.5rem;
}
.meal-name h3{
  font-size: 1.4rem;
}
a
{
  font-family:  'Libre Baskerville', serif;
}
.meal-details
{
  position:fixed;
  text-align: center;
  top: 50%;
  left:60%;
  transform: translate(30px, 100px);
  -webkit-transform: translate(-70%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  background-color: rgb(223, 222, 221);
  text-align: center;
  overflow-y: scroll;
  width: 80%;
  height: 80%;
}
.input-group
{
  margin-left:25%;
}


.meal-details::-webkit-scrollbar
{
  width: 10px;
  height: 20px;
  background-color: rgb(105, 99, 99);
}
.details::-webkit-scrollbar-thumb
{
  background: rgb(77, 204, 38);
  border-radius: 2rem;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;

}

.recipe-close-btn{
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 1.8rem;
  background: rgb(114, 112, 112);
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}

.title
{
  font-size: 2rem;
  margin-left: 400px;
  /* font-family: 'Ubuntu', sans-serif; */
  font-family: 'Libre Baskerville', serif;
}

/*  */
.notFound{
  grid-template-columns: 1fr!important;
  color:white;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: 'Libre Baskerville', serif;
  width: 100%;
  text-align: center;
}

.meal-details-content{
  margin: 2rem;
}
.meal-details-content p:not(.recipe-category){
  padding: 1rem 0;
}

.recipe-title{
  letter-spacing: 1px;
  padding-bottom: 1rem;
}
.recipe-category{
  background: rgb(44, 42, 42);
  font-weight: 600;
  color: white;
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
.recipe-instruct{
  padding: 1rem 0;
}
.recipe-meal-img img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 auto;
  display: block;
}
.recipe-link{
  margin: 1.4rem 0;
}

.recipe-link a{
  color: rgb(95, 57, 57);
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
.recipe-link a:hover{
  opacity: 0.8;
}

/* ABOUT PAGE */
.content-section h1
{
  font-family: 'Libre Baskerville', serif;
}
.content h3,p{
  font-family: 'Libre Baskerville', serif;
}
.section{
	width: 100%;
	min-height: 78vh;
	background-color: #ddd;
}
.container{
	width: 100%;
	display: block;
	margin:auto;
	padding-top: 100px;
}
.content-section{
	float: left;
	width: 55%;
}
.image-section{
	float: right;
	width: 40%;
  height: 40%;
}
.image-section img{
	width: 100%;
	height: auto;
  border-radius: 5%;
  max-height: 100%;
  max-width: 100%;
  padding-bottom: 3%;
}
.content-section .title{
	text-transform: uppercase;
	font-size: 28px;
}
.content-section .content h3{
	margin-top: 20px;
	color:grey;
	font-size: 21px;
}
.content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
.content-section .content .button{
	margin-top: 30px;
}
.content-section .content .button a{
	background-color: #3d3d3d;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
	background-color: #a52a2a;
	color:#fff;
}

.content-section .social i:hover{
	color:#3d3d3d;
}


/* ---------------------------------------------- */

/* FOOTER */
footer
{
  background-color: black;

  padding-top: 0.5%;
  color:white;
}
footer h4
{
  color: white;
  text-align: center;
}

.location{
  text-align: center;
}

.fa-location-dot
{
  color:white;
	font-size: 25px;
	padding:0px 10px;
}
.loc
{
  color:white;
	font-size: 30px;
	padding:0px 10px;
}

.social{
	margin: 30px 40px;
}
.social i{
	color:white;
	font-size: 30px;
	padding:2px 10px;
  margin-bottom: 1%;
}
.social{
	text-align: center;
}

/* ---------------------------------------------- */

/* Media Queries */

@media screen and (max-width:1766px)
{
  .words h1
  {
    font-size: 50px;
    text-align: center;
    margin-right: 30%;
    font-family: 'Libre Baskerville', serif;
  }
}

@media screen and (max-width:960px) {
.col{
  flex: 100%;
  max-width: 80%;
}
}

@media screen and (max-width:600px) {
.col{
  flex: 100%;
  max-width: 100%;
}
}

@media screen and (max-width: 768px){
.input-group
  {
    margin-left: 1%;
  }
	.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.image-section{
	float:none;
	width:100%;	
}
.content-section .title{
	text-align: center;
	font-size: 19px;
}
.content-section .content .button{
	text-align: center;
}
.content-section .content .button a{
	padding:9px 30px;
}
}

@media screen and (min-width: 768px){
  #meal{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
  }
  .meal-item{
      margin: 0;
  }
  .meal-details{
      width: 700px;
  }
}

@media screen and (min-width: 992px){
  #meal
  {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width : 996px)
{
    .input-group{
    margin-left: 20%;
    margin-bottom: 3%;
  }
  a.link
  {
    display:none;
  }
  #home
  {
    background-position: top 90% left 12%;
  }
  .carousel
  {
    margin-right: 3%;
    margin-bottom: 0%;
  }
  .container1
  {
    margin-top: 3%;
  }
  .side-heading h2
  {
    font-size: 2.3rem;
    margin-left: 3%;
  }
  .side-text p,h4
  {
    font-size: 0.85rem;
    margin-left: 3%;
  }
  .intro-text p
  {
    font-size: 0.85rem;
    line-height: 1rem;
  }
  video
  {
    height: 60%;
    width:60%;
    /* padding-top: 0; */
  }
  .video
  {
    margin-top: 3%;
    margin-left: 25%;
    margin-bottom: 2%;
  }
  .words
  {
    margin-top: 5%;
  }
  .words h1
  {
    font-size: 2rem;
  }
  .input-group{
    margin-left: 29%;
    margin-bottom: 3%;

  }
}




/* @media screen and (max-width:424px)
{
  #home
  {
    background-image: none;
    background-color: rgb(230, 223, 223);
  }
} */


/* search button */

/* .search-control{
  padding: 0;
  font-size: 1.1rem;
  font-family: inherit;
  outline: 0;
  border: 1px solid rgb(221, 217, 217);
} */
/* .btn{
  font-family: inherit;
  cursor: pointer;
  outline: 0;
  font-size: 1.05rem;
} */
/* .search-btn{
  width: 50px;
  height: 52px;
  font-size: 1.8rem;
  background: rgb(202, 196, 196);
  border: 1px solid rgb(230, 227, 227);
  color: rgb(185, 183, 183);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
input{
  width:100%;
} */
